.home{
    width: 100%;
    &__wrapper{
        &__row{
            display: flex;
            flex-direction: column;
            gap: 20px;
            .home_bottom{
                display: flex;
                gap: 20px;
                width: 100%;
                &__left{
                    flex: 2;
                }
                &__right{
                    flex: 1.2;
                    display: flex;
                    flex-direction: column;
                    gap: 10px;

                }
            }
        }
    }
}